n8n-workflows/04-documents-crud-workflow.json
{
  "name": "DTU Documents CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "={{$parameter.httpMethod}}",
        "path": "documents",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "crud-webhook",
      "name": "Documents Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "dtu-docs"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "GET",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "GET",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "PUT",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "PUT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "DELETE",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.method }}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "route-method",
      "name": "Route by Method",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, title, source, category, created_at, \n  LEFT(content, 500) as content_preview\nFROM documents\n{{ $json.query.category ? \"WHERE category = '\" + $json.query.category + \"'\" : \"\" }}\nORDER BY created_at DESC\nLIMIT {{ $json.query.limit || 50 }}\nOFFSET {{ (($json.query.page || 1) - 1) * ($json.query.limit || 50) }}"
      },
      "id": "get-documents",
      "name": "Get Documents",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 180],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT category, COUNT(*) as count FROM documents GROUP BY category"
      },
      "id": "get-stats",
      "name": "Get Category Stats",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 60],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const documents = $('Get Documents').all().map(d => d.json);\nconst statsRaw = $('Get Category Stats').all();\n\nconst categoryStats = {};\nstatsRaw.forEach(s => {\n  categoryStats[s.json.category] = parseInt(s.json.count);\n});\n\nconst total = Object.values(categoryStats).reduce((a, b) => a + b, 0);\n\nreturn {\n  documents: documents,\n  total: total,\n  categoryStats: categoryStats\n};"
      },
      "id": "format-list",
      "name": "Format List Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-pw",
              "leftValue": "={{ $json.body.password }}",
              "rightValue": "Braesecke1973",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-put-auth",
      "name": "Check PUT Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": {{ JSON.stringify($json.body.content) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "update-embedding",
      "name": "Get New Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "google-api-key",
          "name": "Google API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE documents SET\n  title = {{ $('Documents Webhook').first().json.body.title ? \"'\" + $('Documents Webhook').first().json.body.title.replace(/'/g, \"''\") + \"'\" : \"title\" }},\n  content = {{ $('Documents Webhook').first().json.body.content ? \"'\" + $('Documents Webhook').first().json.body.content.replace(/'/g, \"''\") + \"'\" : \"content\" }},\n  source = {{ $('Documents Webhook').first().json.body.source ? \"'\" + $('Documents Webhook').first().json.body.source.replace(/'/g, \"''\") + \"'\" : \"source\" }},\n  category = {{ $('Documents Webhook').first().json.body.category ? \"'\" + $('Documents Webhook').first().json.body.category.replace(/'/g, \"''\") + \"'\" : \"category\" }},\n  embedding = {{ $json.embedding ? \"'[\" + $json.embedding.values.join(\",\") + \"]'::vector\" : \"embedding\" }},\n  updated_at = NOW()\nWHERE id = '{{ $('Documents Webhook').first().json.body.id }}'\nRETURNING *"
      },
      "id": "update-document",
      "name": "Update Document",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-del-pw",
              "leftValue": "={{ $json.body.password }}",
              "rightValue": "Braesecke1973",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-del-auth",
      "name": "Check DELETE Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 480]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-delete-all",
              "leftValue": "={{ $json.body.deleteAll }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-delete-all",
      "name": "Delete All?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM documents WHERE id = '{{ $('Documents Webhook').first().json.body.id }}' RETURNING id"
      },
      "id": "delete-one",
      "name": "Delete One",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 420],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM documents RETURNING COUNT(*) as deleted"
      },
      "id": "delete-all",
      "name": "Delete All",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [920, 540],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "auth-error-crud",
      "name": "Auth Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 660]
    },
    {
      "parameters": {},
      "id": "merge-responses",
      "name": "Merge All Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-crud",
      "name": "Respond CRUD",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    }
  ],
  "connections": {
    "Documents Webhook": {
      "main": [
        [
          {
            "node": "Route by Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Method": {
      "main": [
        [
          {
            "node": "Get Documents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Category Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check PUT Auth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check DELETE Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Documents": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category Stats": {
      "main": [
        [
          {
            "node": "Format List Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format List Response": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PUT Auth": {
      "main": [
        [
          {
            "node": "Get New Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Embedding": {
      "main": [
        [
          {
            "node": "Update Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DELETE Auth": {
      "main": [
        [
          {
            "node": "Delete All?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete All?": {
      "main": [
        [
          {
            "node": "Delete All",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete One": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete All": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Responses": {
      "main": [
        [
          {
            "node": "Respond CRUD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "DTU"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
